{% extends 'base.html' %}
{% load static %}
{% block titulo %}Caos news{% endblock %}
{% block contenido %}
    <!-- comienzo del contenido -->
    <div class="parallax-container">
        <div class="row">
            <div class="container col s8 m8 l8 xl8 parallaxContent">
                <h5 class="nombrePerfil"><strong>@AsukaNemu</strong></h5>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="container col s12 m12 l12 xl12 parallaxContent">
                    <h1 class="center">Guerra en el donbass</h1>
                </div>
            </div>
        </div>
        <div class="parallax"><img alt="banner" src="{% static 'img/galeria/1_ucranian.jpg' %}"></div>
    </div>

    <!--  inicio galeria -->
    <div class="container section">
        <h5 class="left-align">Publicaciones:</h5>
    </div>

    <div class="container">
        <div class="row">
        <!-- RESCATE DESDE LA BASE DE DATOS LAS NOTICIAS-->
            {% for user in users %}
                <div class="col s12 m12 l4 xl4">
                    <div class="card">
                        <div class="card-image">
                            <img class="materialboxed responsive-img" alt="foto galería 1"
                                 src="{{ user.imagen }}">
                        </div>
                        <div class="card-content pink">
                    <span class="card-title activator grey-text text-darken-4 center-align">{{ user.titulo }}<i
                            class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal yellow">
                        <span class="card-title grey-text text-darken-4">???<i
                                class="material-icons right">{{ user.titulo }}</i></span>
                            <p>{{ user.Cuerpo }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!-- noticias bases, para que no este vacia la zona de noticias--->
            <div class="col s12 m12 l4 xl4">
                <div class="card">
                    <div class="card-image yellow">
                        <img class="materialboxed responsive-img" alt="foto galería 2"
                             src="{% static 'img/galeria/3_ucranian.jpg' %}">
                    </div>
                    <div class="card-content red">
                    <span class="card-title activator grey-text text-darken-4 center-align">Muertos en bombardeo<i
                            class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal yellow">
                        <span class="card-title grey-text text-darken-4">Muertos en bombardeo<i
                                class="material-icons right">close</i></span>
                        <p>..........................</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4 xl4">
                <div class="card">
                    <div class="card-image">
                        <img class="materialboxed responsive-img" alt="foto galería 3"
                             src="{% static 'img/galeria/4_ucranian.jpg' %}">
                    </div>
                    <div class="card-content blue">
                    <span class="card-title activator grey-text text-darken-4 center-align">Muertos en bombardeo<i
                            class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal green">
                        <span class="card-title grey-text text-darken-4">Muertos en bombardeo<i
                                class="material-icons right">close</i></span>
                        <p>..........................</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4 xl4">
                <div class="card">
                    <div class="card-image">
                        <img class="materialboxed responsive-img" alt="foto galería 4"
                             src="{% static 'img/galeria/5_ucranian.jpg' %}">
                    </div>
                    <div class="card-content pink">
                    <span class="card-title activator grey-text text-darken-4 center-align">Muertos en bombardeo<i
                            class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal yellow">
                        <span class="card-title grey-text text-darken-4">Muertos en bombardeo<i
                                class="material-icons right">close</i></span>
                        <p>..........................</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4 xl4">
                <div class="card">
                    <div class="card-image">
                        <img class="materialboxed responsive-img" alt="foto galería 5"
                             src="{% static 'img/galeria/6_ucranian.jpg' %}">
                    </div>
                    <div class="card-content purple">
                    <span class="card-title activator grey-text text-darken-4 center-align">Muertos en bombardeo<i
                            class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal yellow">
                        <span class="card-title grey-text text-darken-4">Muertos en bombardeo<i
                                class="material-icons right">close</i></span>
                        <p>..........................</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4 xl4">
                <div class="card">
                    <div class="card-image">
                        <img class="materialboxed responsive-img" alt="foto galería 6"
                             src="{% static 'img/galeria/7_ucranian.jpg' %}">
                    </div>
                    <div class="card-content brown">
                    <span class="card-title activator grey-text text-darken-4 center-align">Muertos en bombardeo<i
                            class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal yellow">
                        <span class="card-title grey-text text-darken-4">Muertos en bombardeo<i
                                class="material-icons right">close</i></span>
                        <p>..........................</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4 xl4">
                <div class="card">
                    <div class="card-image">
                        <img class="materialboxed responsive-img" alt="foto galería 7"
                             src="{% static 'img/galeria/8_ucranian.jpg' %}">
                    </div>
                    <div class="card-content orange">
                    <span class="card-title activator grey-text text-darken-4 center-align">Muertos en bombardeo<i
                            class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal yellow">
                        <span class="card-title grey-text text-darken-4">Muertos en bombardeo<i
                                class="material-icons right">close</i></span>
                        <p>..........................</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4 xl4">
                <div class="card">
                    <div class="card-image">
                        <img class="materialboxed responsive-img" alt="foto galería 8"
                             src="{% static 'img/galeria/9_ucranian.jpg' %}">
                    </div>
                    <div class="card-content yellow">
                    <span class="card-title activator grey-text text-darken-4 center-align">Muertos en bombardeo<i
                            class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal yellow">
                        <span class="card-title grey-text text-darken-4">Muertos en bombardeo<i
                                class="material-icons right">close</i></span>
                        <p>..........................</p>
                    </div>
                </div>
            </div>

            <div class="col s12 m12 l4 xl4">
                <div class="card">
                    <div class="card-image">
                        <img class="materialboxed responsive-img" alt="foto galería 9"
                             src="{% static 'img/galeria/10_ucranian.jpg' %}">
                    </div>
                    <div class="card-content purple">
                    <span class="card-title activator grey-text text-darken-4 center-align">Muertos en bombardeo<i
                            class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal yellow">
                        <span class="card-title grey-text text-darken-4">Muertos en bombardeo<i
                                class="material-icons right">close</i></span>
                        <p>..........................</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin destacados -->

{% endblock %}